/* ==========================
   Header
========================== */

.layout-header{

    display:flex;

    align-items:center;
}

/* ==========================
   Mobile Menu Button
========================== */

.mobile-menu-btn{

    display:none;

    width:48px;

    height:48px;

    border:none;

    border-radius:12px;

    background:var(--primary);

    color:#ffffff;

    cursor:pointer;

    align-items:center;

    justify-content:center;

    box-shadow:var(--shadow-md);

    transition:all .25s ease;
}

.mobile-menu-btn svg{

    font-size:22px;
}

.mobile-menu-btn:hover{

    background:var(--primary-dark);

    transform:translateY(-2px);
}

/* ==========================
   Mobile
========================== */

@media (max-width:768px){

    .mobile-menu-btn{

        display:flex;
    }
}